* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(225deg, #FFECD2 0%, #FCB69F 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

